 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>À propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                      Diplomé en 2012, j'ai intégré <a class="white-link" href="http://www.solutec.fr/fr/" target="_blank">Solutec</a> (SSII) et travaillé plus particulièrement sur de l'administration système : VMware, Debian, CentOS. Lors de ma mission chez <a class="white-link" href="https://www.linkedin.com/company/france-television" target="_blank">FranceTV Édition Numériques</a>, j'ai pu découvrir de nouvelles problématiques :
                    </p>
                    <ul class="list-learning">
                      <li>Industrialisation : puppet, chef, cloudformation</li>
                      <li>Déploiement continue : capistrano, jenkins</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <p>
                      Depuis 2015, j'ai opté pour le côté développement du métier. J'ai ainsi rejoint <a class="white-link" href="http://www.interencheres.com" target="_blank">Interencheres.com</a> pour procéder à la réintégration interne de l'hébergement du site et dans un second temps à sa refactorisation.
                      Donc évidement au programme : Symfony 2, NodeJS (lambda), jQuery...
                    </p>
                    <p>
                      Cependant, ce poste me permet toujours de continuer de travailler sur l'industrialisation avec puppet (AWS) et m'apporte de nouveaux challenges tel que la mise en place du déploiement continu (capistrano v2).
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.dropbox.com/s/493hs5147f69f5z/Bastien_DRONNEAU_CV_20140624.pdf?dl=0" class="btn btn-lg btn-outline">
                        <i class="fa fa-file-pdf-o"></i>  Mon CV
                    </a>
                </div>
            </div>
        </div>
    </section>