    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "Person",
        "name" : "Bastien Dronneau",
        "url" : "https://bastien.dronneau.fr",
        "sameAs" : [
          "http://twitter.com/basti1dr",
          "http://github.com/basti1dr",
          "http://fr.linkedin.com/pub/bastien-dronneau/39/64b/a8/",
          "https://plus.google.com/u/0/+BastienDronneau",
          "http://stackoverflow.com/users/4809513/bast"
        ]
      }
    </script>

    <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}"></script>

    <!-- Google Stuff Analytics snippet -->
    {% if site.google_analytics %}
    <script src="{{ "/js/google_analytics.js" }}"></script>
    {% endif %}

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
